DATABASE_URL=postgresql://username:password@localhost:5432/database_name
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxxxxxx
CLERK_ISSUER=https://your-issuer-url.clerk.accounts.dev
MINIO_URL=https://your-minio-api.com
MINIO_PUBLIC_URL=https://your-minio-public.com
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:9000